<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Main Test Suite">
            <file>test.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>api.php</file>
            <file>test.php</file>
        </whitelist>
    </filter>
</phpunit>
